<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Tasks</h1>
      <div id="tasks-container" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% @tasks.each do |task| %>
          <div class="col <%= task.completed ? 'order-2' : '' %>">
            <div class="card <%= task.completed ? 'disabled' : '' %>">
              <div>
                <h5><%= task.title %></h5>
                <p><%= task.details %></p>
              </div>
              <%= link_to '', task_path(task), class: 'link' %>
              <%= link_to task_path(task), data: { turbo_method: 'delete', turbo_confirm: "Delete #{task.title}?" }, class: 'delete-icon' do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="actions-container py-4">
          <%= link_to new_task_path do %>
            <div id="add-task" class="task-button rounded-circle d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-plus"></i>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
