<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Task Information</h1>
      <div class="card">
        <h5><%= @task.title %></h5>
        <p><%= @task.details %></p>
        <div class="task-status-icon rounded-circle d-flex align-items-center justify-content-center <%= @task.completed ? 'green' : 'red' %>">
          <% if @task.completed %>
            <i class="fa-solid fa-check"></i>
          <% else %>
            <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="actions-container py-4 d-flex justify-content-center">
      <%= link_to tasks_path do %>
        <div id="back-button" class="task-button rounded-circle d-flex align-items-center justify-content-center mx-2">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      <% end %>
      <%= link_to edit_task_path do %>
        <div id="edit-task" class="task-button rounded-circle d-flex align-items-center justify-content-center mx-2">
          <i class="fa-solid fa-pen"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
